/* Muokkaushistoria:
 * 6.2.2024 Poistettu (lähes) kaikki kustomoidut tyylit uutisia ja linkedEvents:iä lukuunottamatta / OS
 * 27.1.2022 Palautettu näkyviin Tämän aineiston tarjoaa-laatikko .template-dir-record .organisation-menu / VM
 * 17.1.2022 Palautettu Keski-kirjastot -teksti näkyviin hakufasetin Kirjasto-valikkoon ja hakutulokseen, koska summa näkyi kuitenkin jo
 * 20.6.2021. Varaukset / Noutopaikka & painikkeiden tyylit + ym. profiilisäätöjä
 * 3.5.2021. Käyttäjän profiilin navigoinnin taustavärit / OS
 * 29.3.2021. Lisätty Ota yhteyttä -sivu 22.4./JH
 */

/****************************************
*	newCustom.less						*
*	Generic styles						*
****************************************/

/****************************************
*	Custom color variables				*
****************************************/
// Link hover
$link-hover-color: #0659c7 !default;
// Btn hover
$btn-primary-hover: #002438 !default;
// Hover of navigation elements
$nav-hover-bg: #cecece !default;
$nav-hover-border-color: $btn-primary-bg !default;
$nav-selected: rgba(88, 140, 238, 0.93) !default;
// Feedback button
$feedback-btn-hover-bg: #8c9d31 !default;
// Generic close element hover color
$close-hover: #ff461e !default;

/****************************************
*	User defined styles 				*
****************************************/
#listOfFbPages {
	line-height: 2em !important;
}


/* Piilottaa kohderyhmän tapahtumista, koska näyttää vain yhden */
.linked-event-audience {
	display: none;
}


// Background color for the "browse" -bar::after
.browsebar {
	background: $footer-background;
}

// Footer title colors
footer h2 {
	color: #fff;
}

// Infobox styles
.infobox {
	padding: 1.5rem 2rem 2.5rem 2.5rem !important;
}

@media (min-width: $screen-md-min) {
	.template-name-home .infobox {
		min-height: 475px;
	}
}

.infobox img {
	padding-right: 1em;
	margin-bottom: 1em;
}

/* Common modal styles, eg. login modal */
.lightbox-header {
	background: $footer-background!important;
}

// Feedback button
.floating-feedback-btn {
	color: $finna-feedback-color!important;
	font-weight: 600 !important;
}

.floating-feedback-btn:hover,
.floating-feedback-btn:focus {
	color: $finna-feedback-color!important;
	background: $feedback-btn-hover-bg!important;
}

.floating-feedback-btn {
    @media (max-width: $screen-xs-max) {
        display:none
    }
}

.feedback-content h1 {
	font-size: 1.8em !important;
}

// Loader https://projects.lukehaas.me/css-loaders/
.loader,
.loader:before,
.loader:after {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: load7 1.8s infinite ease-in-out;
	animation: load7 1.8s infinite ease-in-out;
}
.loader {
	color: $gray;
	font-size: 10px;
	margin: 80px auto;
	position: relative;
	text-indent: -9999em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:before,
.loader:after {
	content: '';
	position: absolute;
	top: 0;
}
.loader:before {
	left: -3.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 3.5em;
}
@-webkit-keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
@keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}

/************************************
*	news.less				        *
*	Styles for news		            *
*************************************/

.keski-news-home,
.lib-home-container {
	margin-bottom: 2.5rem;
}

@media screen and (min-width: 800px) {
	.keski-news-home,
	.lib-home-container {
		min-height: 540px;
	}
}

/* Common styles for news  */
#newsModalTitle {
	margin-top: 2em;
	margin-left: 1em !important;
	margin-bottom: 0 !important;
	font-size: 1.75em;
	max-width: 90%;
}

#newsModalBody {
	padding-top: 0 !important;
	margin-top: -1.3em;
}

#newsModal .modal-content .close {
	color: $close-hover;
	margin-top: 0.5em;
	margin-right: 0.5em;
	font-size: 1.6em !important;
	opacity: 0.6;
}

#newsModal .modal-content .close:hover {
	opacity: 1;
}

@media screen and (max-width: 500px) {
	#newsModal {
		padding: 0 !important;
		margin: 0 !important;
		width: 100vmin !important;
	}
}

/*  News modal */
.modal-header {
	border-bottom: none;
	margin: 0;
}

/* News */
#keskiNews {
	min-width: 85%;
	padding-bottom: 1em !important;
}

@media screen and (max-width: 768px) {
	#keskiNews {
		min-width: 100%;
	}
}

#keskiNews ul li {
	padding-top: 0.33em;
	padding-bottom: 0.33em;
	font-size: 1.15em;
	font-weight: 600;
	color: $text-color;
}

#keskiNews ul {
	padding-right: 15%;
}

#keskiNews ul li a {
	display: flex !important;
	flex-direction: column !important;
	flex-wrap: nowrap !important;
}

.news-li {
	width: 100% !important;
	margin-bottom: 0.85em;
}

.news-container {
	position: relative;
	text-align: center;
	height: 175px;
}

.news-container img {
	object-fit: cover;
	height: 175px;
	width: auto;
	border-radius: 5px;
}

.news-page-news-container img {
	height: 250px;
}

.news-page-news-container {
	height: 250px;
}

.news-page-news-date {
	margin-top: -0.4em;
}

.news-container a,
.news-container a {
	color: $text-color;
}
.news-container a:hover,
.news-container a:focus {
	color: $link-hover-color;
}

.news-container:focus {
	color: $link-hover-color!important;
}

.news-item-link:focus {
	border-bottom: 7px solid $link-hover-color!important;
}

.news-text-container {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(250, 252, 255, 0.91);
	width: auto !important;
	display: flex;
	flex-direction: column;
	padding: 0.27em 1.1em;
	height: auto;
	text-align: left !important;
	max-width: 90%;
	align-self: flex-start;
	align-items: flex-start;
	border-left: solid 5px $brand-secondary;
	margin-left: 1em;
	margin-bottom: 1em;
	margin-right: auto;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 6px;
	font-size: 1.16em;
	font-weight: 600;
}

.news-text-container .news-li-title {
	margin-bottom: 0.12em;
}

.news-text-container .news-li-date {
	font-size: 0.75em;
	margin-left: 2px;
	margin-bottom: 0.1em;
}

.keski-news-archive {
	margin-top: 3em;
}

.keski-news-archive #keskiNewsUl {
	padding: 0;
}

.news-title {
	border-bottom: solid 2px $brand-secondary!important;
	clear: both;
	display: inline-block;
	padding: 2.78em 16px 3px 16px !important;
	margin-left: 1em !important;
	margin-bottom: 0.25em !important;
}

@media screen and (max-width: 600px) {
	.news-title {
		width: 100%;
		margin-left: 0 !important;
	}
}

@media screen and (max-width: 430px) {
	.news-date {
		left: 0;
	}

	.news-li-title {
		left: 50px;
	}

	.news-page-link .news-li-title {
		left: 0;
	}

	.news-section-title {
		margin-bottom: 1.5em !important;
	}
}

#newsModal .modal-footer {
	align-content: center;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
}

.news-content {
	padding: 1.8em;
}

.news-link {
	margin-top: 1.7em;
	font-size: 1.1em;
}

.news-link i {
	margin-left: -4px;
	margin-right: 8px;
	font-size: 1.15em;
}

.news-image {
	max-height: 65vmin;
	margin-top: 3em !important;
	border: solid 1px transparent;
	border-radius: 33px !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.news-page-link-container {
	text-align: center;
	font-weight: 600;
	margin-top: 1.25em;
	margin-bottom: 0.25em;
}

.news-page-link {
	width: 100%;
	padding: 0.73em 0.65em;
	font-size: 1.32em;
	line-height: 1.5;
}

.news-page-link i {
	margin-left: 0.15em !important;
}

// Front page news
.keski-news-home {
	margin-right: 5%;
}

.keski-news-home #keskiNewsUl {
	margin: 0 !important;
	padding: 0 !important;
}
