{
	"printWidth": 120,
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"plugins": ["@prettier/plugin-php"],
	"phpVersion": "8.1",
	"trailingCommaPHP": true,
	"braceStyle": "1tbs"
}
