/*body {
  background-color: red;
}*/
@import "custom-variables";
@import "navigation";
@import "searchbar";

html {
    font-size: 1.06em;
    font-family: sans-serif!important;
}

body {
    font-family: 'Open Sans', sans-serif!important;
}

h1, h2, h3, h4, h5, h6, header, section[role=search], footer {
    font-family: 'Lato', sans-serif!important;

}

h1, h2, h3, h4 {

}

.cookie-consent {
    padding: 1.6em 2.4em;
    position: fixed!important;
    bottom: 0!important;
    top: unset!important;
    left: 50%;
    transform: translateX(-50%);
    color: @text-color!important;
    background-color: #ebebed;
    font-size: 1.15em;
    font-weight: 400;
    flex-direction: row;
    border-radius: 8px;
    align-content: center;
    vertical-align: center;
    width: auto;
    max-width: 100%!important;
}

@media screen and ( max-width: 1000px ){
    .cookie-consent {
        width: 65%;
    }
}

@media screen and ( max-width: 768px ){
 .cookie-consent {
     width: 100%;
 }
}


.cookie-consent p {
    margin: 0;
}

.cookie-consent-button {
    margin-left: 2.4em;
}

.cookie-consent a {
}

.underlined-title {
    padding-bottom: 7px!important;
    padding-left: 9px!important;
    padding-right: 18px!important;
    border-bottom: 2px solid #414141;
}

.infobox h1, .infobox h2, .infobox h3, .content-header {
}

footer h1, footer h2, footer h3, footer h4 {
    padding-left: 0!important;
    padding-right: 0!important;
    border-bottom: none
}

.content-navigation-menu h1, .content-navigation-menu h2 {
    border-bottom: none

}

.content-header {

}

p {

}

html, body {
    height: 100%;
}

.btn-uppercase {
    text-transform: capitalize;
    visibility: visible!important;
}


.btn-primary {
    font-size: 1.07em;
    font-weight: 600;
    background: @btn-primary!important;
}

.btn-primary:hover {
    background: @btn-primary-hover!important;
    border: none!important;
}

.infobox .btn-primary, .infobox i {
    color: @text-color!important;
}

section[role=main] {
    //margin-top: 2.3em;
    // top margin is also applied to advanced search title...
}

.searchtools-background {
    text-align: center;
}

// Do not add margin between search results and footer... But do on advanced search page and home  where the class .template-dir-search is also used.
section[role=main]:not(.template-dir-search), .template-name-advanced {
    margin-bottom: 4em!important;
}

.template-name-home {
    margin-bottom: 3em!important;
}

footer {
    box-shadow: 0 -2px 2px -2px #333;
    font-size: 1.28em;
    //background: rgb(113,164,229);
    //background: radial-gradient(circle, rgba(113,164,229,1) 0%, rgb(182, 215, 221) 100%);
    background: rgb(90,246,188);
    background: linear-gradient(2deg,rgba(250, 185, 142, 0.863) 0%, rgb(183, 233, 224) 70%)!important;
    width: 100%;
    padding-top: 2.2em;
    padding-bottom: 2em!important;
    margin-bottom: -40px!important;
    position: static!important;
    bottom: 0!important;
    left: 0!important;
    display: flex;
    height: auto!important;
    min-height: 25vmin; // TO DO: https://keski.finna-test.fi/beta/Feedback/Home has empty space after the footer in 1080 * 1920.
}


footer .container {
    width: 95vmax!important;
    margin-left: 2vmax!important;
    margin-right: 2vmax;
}

.footer-left-side {
    float: left;
    position: relative;
    top: 100px;
    transform: rotate(208deg);
}

.footer-right-side  {
    position: flex-end;
    float: right;
    transform: rotate(-215deg);
    margin-bottom: 50px;
}

@media screen and ( max-width: 1300px ){
    .footer-left-side, .footer-right-side {
        display: none;
    }
}

.footer-container {
    margin-top: 1.6em;
    width: 100%;
    justify-content: space-between;
    display: flex!important;
    margin-left: auto;
    margin-right: auto;
}

.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer-links li {
    float: left;
    //border-left: solid 1px black;
}

.footer-links li:first-child {
}

.footer-links li a {
    display: block;
    margin: 0 22px;
    padding: 9px 11px;
}

.footer-links li a:hover {
    text-decoration: none;
    border-bottom: solid 2px @brand-secondary;
    margin-bottom: -2px;
}

.footer-logo-links li {
    padding: 0 2em;
    border: none;
}

@media (max-width: @screen-sm-min) {
    // Footer gradient should be able to fill 100% of mobile screen.
    footer {
        min-height: 100vh;
    }

    .footer-links, .footer-logo-links {
        display: flex;
        align-items: center;
        flex-direction: column;
    }


    .footer-logo-links img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    li a[title="About VuFind"] {
        padding-left: 16px!important;
    }

    .footer-container li {
        width: 100%;
        text-align: left;
        margin-bottom: 1.1rem;
    }

    .footer-container li a {
        width: auto
    }
}

@media screen and ( min-height: 768px ) {
    section[role=main] {
        min-height: 60vmin!important;
    }
}


.search-query {

}


.search-form-container .container::before {

}

.content-navigation-menu {
    margin-bottom: 5em!important;
    margin-right: 1.5em!important;
}

.content-navigation-menu h2 {
    margin-bottom: 1.2em!important;
    background: none!important;
}


.content-navigation-menu h2:hover {
    background: @nav-hover-bg!important;
    border-left: 5px solid @brand-secondary!important;
}


.content-navigation-menu h2 a {
    color: @text-color!important;
}

.selected-sub-nav {
    border-left: 5px solid @brand-third!important;
}

.content-section {
    margin-bottom: 1.5em;
    padding-bottom: 2em;
}

.result-view-list {
    //display: flex;
    //overflow: visible;
}

.main-content {


}

@media screen and ( min-width: 1000px ) {
    .side-facets-container-ajax {
        margin-right: 1.9em;
    }
}


/*
.sidebar-on-left {
    position: sticky!important;
    bottom: 0!important;
    left: 0!important;
}

.side-facets-container-ajax {
    position: sticky!important;
    bottom: 0!important;
    left: 0!important;
} */
