/*body {
  background-color: red;
}*/

html {
    font-size: 1.06em;
}


html, body {
    height: 100%;
}

.browsebar {
display: none;
}

.finna-navbar {
}

.finna-navbar, .navbar-logo {

}

.floating-feedback-btn {
    display: none;
}

.introduction .clearfix {
    display: none;
}

.tooltip-button .tooltip-search-local .pull-right {
    margin-left: -30px;
}


header {
    background-color: #d8e7e3;
    padding: .76em .4em;
}

footer {
    background-color: #a3c4e4;
    width: 100%;
    padding-bottom: 2em;
    margin-top: 3em;
    margin-bottom: -20px;
    max-height: 100%!important;
    min-height: auto;
    font-size: 1.15em
}

.footer-container {
    margin-top: 1.8em;
    width: 100%;
    justify-content: space-between;
    display: flex!important;
    margin-left: auto;
    margin-right: auto;
}

.footer-column {
    justify-content: space-between;
}



footer .hidden-print {
}


    


@media screen and ( min-height: 76px ){
    
    section[role=main] {
        min-height: 60vmin!important;
    }
}

