/*body {
  background-color: red;
}*/
@import "custom-variables";
@import "navigation";
@import "searchbar";

html {
    font-size: 1.06em;
    font-family: sans-serif!important;
}

body {
    font-family: 'Open Sans', sans-serif!important;
}

h1, h2, h3, h4, h5, h6, header, section[role=search], footer {
    font-family: 'Lato', sans-serif!important;

}

h1, h2, h3, h4 {

}

.cookie-consent {
    padding: 1.6em 2.4em;
    position: fixed!important;
    bottom: 0!important;
    top: unset!important;
    left: 50%;
    transform: translateX(-50%);
    color: @text-color!important;
    background-color: #ebebed;
    font-size: 1.15em;
    font-weight: 400;
    flex-direction: row;
    border-radius: 8px;
    align-content: center;
    vertical-align: center;
    width: auto;
    max-width: 100%!important;
}

@media screen and ( max-width: 1000px ){
    .cookie-consent {
        width: 65%;
    }
}

@media screen and ( max-width: 768px ){
    .cookie-consent {
        width: 100%;
    }
}


.cookie-consent p {
    margin: 0;
}

.cookie-consent-button {
    margin-left: 2.4em;
}

.cookie-consent a {
}

.underlined-title {
    padding-bottom: 7px!important;
    padding-left: 9px!important;
    padding-right: 18px!important;
    border-bottom: 2px solid #414141;
}

.infobox h1, .infobox h2, .infobox h3, .content-header {
}

footer h1, footer h2, footer h3, footer h4 {
    padding-left: 0!important;
    padding-right: 0!important;
    border-bottom: none
}

.content-navigation-menu h1, .content-navigation-menu h2 {
    border-bottom: none

}

.content-header {

}

p {

}

html, body {
    height: 100%;
}

.btn-uppercase {
    text-transform: capitalize;
    visibility: visible!important;
}


.btn-primary {
    font-size: 1.07em;
    font-weight: 600;
    background: @btn-primary!important;
}

.btn-primary:hover {
    background: @btn-primary-hover!important;
    border: none!important;
}

.infobox .btn-primary, .infobox i {
    color: @text-color!important;
}

section[role=main] {
    //margin-top: 2.3em;
    // top margin is also applied to advanced search title...
}

.main-content {
    min-width: 75% !important;
}

.content-section {
    max-width: 860px;
}

.searchtools-background {
    text-align: center;
}

section[role=main] {
    padding-top: 2em;
    margin-bottom: 3em!important;

}

// Do not add margin between search results and footer... But do on advanced search page and home  where the class .template-dir-search is also used.
section[role=main]:not(.template-dir-search), .template-name-advanced {
    margin-bottom: 4em!important;
    padding-top: 3em;
}

.template-name-home {
    margin-bottom: 3em!important;
}

footer {
    box-shadow: 0 -2px 2px -2px #333;
    font-size: 1.3em;
    //background: rgb(113,164,229);
    //background: radial-gradient(circle, rgba(113,164,229,1) 0%, rgb(182, 215, 221) 100%);
    background: rgb(90,246,188);
    background: linear-gradient(2deg,rgba(250, 185, 142, 0.863) 0%, rgb(183, 233, 224) 70%)!important;
    width: 100%;
    padding-top: 2.2em;
    padding-bottom: 2em!important;
    margin-bottom: -40px!important;
    position: static!important;
    bottom: 0!important;
    left: 0!important;
    display: flex;
    height: auto!important;
    min-height: 50vmin; // TO DO: https://keski.finna-test.fi/beta/Feedback/Home has empty space after the footer in 1080 * 1920.
}


footer .container {
    width: 95vmax!important;
    margin-left: 2vmax!important;
    margin-right: 2vmax;
}

.footer-left-side {
    float: left;
    position: relative;
    top: 100px;
    transform: rotate(208deg);
}

.footer-right-side  {
    float: right;
    transform: rotate(-215deg);
    margin-bottom: 50px;
}

@media screen and ( max-width: 1300px ){
    .footer-left-side, .footer-right-side {
        display: none;
    }
}

.footer-container {
    margin-top: 1.6em;
    width: 100%;
    justify-content: space-between;
    display: flex!important;
    margin-left: auto;
    margin-right: auto;
}

.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer-links li {
    float: left;
    display: block;
    margin: 0 22px;
    padding: 9px 11px;
    margin-bottom: 3px;
    //border-left: solid 1px black;
}


.footer-links li a {
    text-decoration: none;
}

.footer-links li:hover {
    border-bottom: solid 2px @brand-secondary;
    margin-bottom: 0;
}

footer .selected-nav {
    margin-bottom: 3px!important;
}


footer .selected-nav:hover {
    margin-bottom: 3px!important;

}

footer .selected-nav a:hover {
    text-decoration: none;
}


.footer-logo-row {
    margin-top: 2.55rem;
}

.foot-logo-link {
    margin: .5em 3em!important;
}

@media (max-width: @screen-sm-min) {
    // Footer gradient should be able to fill 100% of mobile screen.
    footer {
        min-height: 100vh;
    }

    .footer-links {
        align-items: center;
        flex-direction: column;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }


    .footer-links li {
        margin-bottom: 1rem!important;
    }

    li a[title="About VuFind"] {
        padding-left: 20px!important;
    }

    .footer-container li {
        text-align: left;
        margin-bottom: 1.1rem;
        width: auto!important
    }

    .footer-container li a {
        width: auto
    }

    .footer-links .foot-logo-link {
        width: 100%!important;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }

    .footer-links .foot-logo-link:hover {
        border-bottom: none;
    }

}

@media screen and ( min-height: 768px ) {
    section[role=main] {
        min-height: 60vmin!important;
    }
}


.search-query {

}


.search-form-container .container::before {

}

.content-navigation-menu {
    margin-bottom: 5em!important;
    margin-right: 1.5em!important;
}

.content-navigation-menu h2 {
    margin-bottom: 1.2em!important;
    background: none!important;
}


.content-navigation-menu h2:hover {
    background: @nav-hover-bg!important;
    border-left: 5px solid @brand-secondary!important;
}


.content-navigation-menu h2 a {
    color: @text-color!important;
}

.selected-sub-nav {
    border-left: 5px solid @brand-third!important;
}

.content-section {
    margin-bottom: 1.5em;
    padding-bottom: 2em;
}

// Search results.
.result-view-list {
    //display: flex;
    //overflow: visible;
}

@media screen and ( min-width: 1000px ) {
    .side-facets-container-ajax {
        margin-right: 1.9em;
    }
}

.side-facets-container-ajax {
    color: @text-color!important;

}

.searchtools-background {
    background: none!important;
}

.list-group-item, .searchtools a {
    color: @text-color!important;

}

.list-group.facet .list-group-item.title.collapsed:after, .list-group.facet .list-group-item.title:after, .list-group.facets .list-group-item.title:after {
    color: @btn-primary;
}

#side-collapse-building .jstree-container-ul li:first-child i {
    display: none;
}

#side-collapse-building .jstree-anchor .badge {
    display: none;
}

.jstree-children .jstree-ocl, .jstree-children .badge, .jstree-children jstree-ocl:before  {
    display: block!important;
}

.dedupInformation, span[title="Keski-kirjastot"], .dedupInformation, span[title="Keski Libraries"]  {
    display: none;
}

#side-collapse-building  .jstree-children:not(.facet) {
    margin-left: -10px!important;
}

// This makes the background smaller.
.template-name-results  .search-form-container, .template-dir-record .searchContent {
    max-height: 140px!important;
}

.template-name-results  .main-content {
    margin-top: 0!important;
}


.search-filters {
    border-top: none;
    position: relative;
    top: -22px;
    margin-top: 0!important;
    margin-bottom: 0!important;
    padding-top: 0!important;
    background: none!important;
    height: auto!important;
}

.filter-value {
    background: none!important;
}

.title-value-pair {
    background: rgba(135, 209, 239, 0.78);
    padding: .86em 1.2em;
    margin-bottom: .8em;
    margin-right: .96em;
    border-radius: 16px;
    font-size: 1.17em;
    font-weight: 600;
}

.filter-text {
    color: @text-color!important;
    font-size: .99em!important;
    font-style: oblique;
    line-height: unset!important;
    padding: 0!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
    font-weight: 400!important;
}

.search-filter-remove {
    color: @brand-danger!important;
    margin-left: 4px!important;
    margin-right: 6px!important;
}

// Filter-value = Things like "Verkossa saatavilla".
.filters-title, .filters-or, .filter-value  {
    color: @text-color!important;
    margin-top: 0!important;
    margin-bottom: 0!important;
    margin-left: 2px!important;
    margin-right: 3px!important;
    padding: 0!important;
    line-height: unset!important;
}

.filters-title {
    margin-right: 0!important;
}

.pagination-background .mainbody {
    width: 100% !important;
    text-align: center;
}


.pagination {
    margin-top: 1.8em;
    text-align: center;
    font-size: 1.5em!important;
}

.pagination li:not(.pagination-button) a:hover {
    background: none!important;
    color: @text-color!important;
    border-bottom: solid 2px @nav-hover-border-color!important;
    margin-bottom: 0;
    border-radius: 0!important;
}

.pagination .active  span, .pagination .active  span:hover {
    background: none!important;
    color: @text-color!important;
    border-bottom: solid 2px @brand-third;
    margin-bottom: 0;
    border-radius: 0!important;
}

.pagination li a {
    margin-right: 5px!important;
    margin-left: 5px!important;
}

.searchtools a {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
    margin-top: 12px;
    margin-bottom: 2px;
    font-size: 1.1em!important;
}

.searchtools a:hover {
    border-bottom: solid 2px @brand-secondary;
    margin-bottom: 0;
}

.pagination-button i {
    background: @btn-primary!important;
    color: @text-color!important;
    padding: .35em!important;
    border-radius: 11px!important;
}

.pagination-button i:hover {
    background: @btn-primary-hover!important;
}

// Single record styling

.record-pagination-tools {
    margin-top: 1em;
    padding-bottom: 0!important;
    font-size: 1.18em;
    // TO DO: Proper fix for the added padding afterwards.
    margin-bottom: -100px!important;
}

.back-to-search {
    float: left;
    margin-right: 18px;
    padding: .35em!important;
}

.record-pagination-tools .pager {
    text-align: left;
    font-weight: 600;
}

.record-pagination-tools .pager .disabled, .record-pagination-tools .pager:after {
    display: none;
}

.record-pagination-tools .pager .pager-next-record a, .record-pagination-tools .pager .pager-previous-record a  {
    background: @btn-primary!important;
    color: @text-color!important;
    padding: .35em!important;
    border-radius: 11px!important;
    margin-left: 3px;
    margin-right: 3px;
}

.record-pagination-tools .pager .pager-next-record a:hover, .record-pagination-tools .pager .pager-previous-record a:hover  {
    background: @btn-primary-hover!important;
}


/*
.sidebar-on-left {
    position: sticky!important;
    bottom: 0!important;
    left: 0!important;
}

.side-facets-container-ajax {
    position: sticky!important;
    bottom: 0!important;
    left: 0!important;
}


#authcontainer {
    align-items: center;
    justify-content: space-between;
    display: flex;

}

.login-col {
    display: flex;
    justify-content: flex-end;
    align-content: right;
}

.modal-content {
    width: auto!important;
}


.lightbox-header {
    text-align: center;
    font-size: 1.1em;
}

#loginForm {


}

#loginForm {
    padding-left: 10%;
}

.modal-content, .modal-body {

}

.login-col {
    width: auto!important;
}

.login-col .login-description, .login-col .login-description-terms {
}

.modal-lg, .modal-content, .modal-body, .modal, #modal, .modal-dialog {


}

.modal-lg-dynamic {

}

*/

// Modals.

