.search {
    // background: https://keski.finna-test.fi//beta/themes/custom/images/logo_background.jpg?1578907836
  }

  @media (max-width: @screen-md-min) {

    .search {
      }

      .searchbox {
      }
}

.searchbox-toolbar a {
    font-size: 1.05em!important;
    font-weight: 400!important;
}

.searchContent {
    background: rgb(90,246,188);
    background: linear-gradient(2deg, rgb(183, 233, 224) 0%, rgba(229,223,223,1) 80%)!important;
    padding: 0!important;
    margin: 0!important;
    margin-bottom: 1.3em!important;
    height: auto!important;
}

section[role=search] {
    margin-bottom: 1.8em!important;
}

@media screen and( min-width: 1000px ) {
    .search-form-container .container {

      }

      .search-form-container {

      }
}


#searchForm {
}

.search-query {
    padding-left: 1em!important;
}


section[role=search], .search-form-container  {
    padding-top: .5em!important;
    padding-bottom: 0!important;
    height: auto!important;
}

.search-form-container .container {
    padding: .5em!important;
    height: auto!important;
}

// Browsebar

.browsebar {
    //display: none;
}

.browse-is-open {
  display: inline!important;
  visibility: visible!important;
}

.searchbox-toolbar li {
  display: inline-flex;
  margin-left: 0!important;
  font-size: 1.05em;
  padding-left: 5px!important;
  padding-right: 5px!important;
  padding-bottom: .8em;
  margin-bottom: 0;
}

.searchbox-toolbar li a {
    padding-bottom: 8px!important;
    border-radius: 0!important;
}

.browse-a:before {
    font-family: 'icomoon';
    content: "\e00d";
    margin-right: 5px;
    vertical-align: bottom;
}

#browseLi ul {
}

#browseLi ul li {
    margin-bottom: 7px!important;
}

#browseLi ul li a {
    margin-bottom: 5px!important;
}

#browseLi ul li a:before {
    margin-right: 10px!important;
    font-size: 1em;
}

.searchbox-toolbar, #browseContainer, .browsebar-custom {
    margin-top: 0!important;
    padding-top: 0!important;
    font-size: 1.01em!important;
}

.searchbox-toolbar i {
    margin-right: 3px;
}


.browsebar-custom div span, #browseContainer ul li a {
    color: @text-color;
    margin-bottom: 3px;
}

.browsebar-custom div span:hover, #browseContainer ul li a:hover {
   border-bottom: solid 3px @nav-hover-border-color;
   margin-bottom: 0;
}

#browseLi {
    margin-left: 10px!important;
}

#browseLi li {
    margin-left: 10px!important;
    width: 100%!important;
}

#browseLi li .fa-child {
    margin-right: 15px!important;
}


#browseLi li a:hover {
    background: @nav-hover-bg!important;
    border-left: solid 4px @nav-hover-border-color!important;
    margin-left: -4px;
    border-bottom: none!important;
}

@media only screen and (max-width: 730px) {
    #browseLi {
        position: initial;
    }

    .browse-list-container {
        width: 100%!important;
        max-height: 1200px;
        margin-left: auto;
    }
  }

.browsebar-custom div span:hover, #browseContainer ul li a:hover {
 }


.browsebar-custom {
    .priority-nav__dropdown {
      left: 0;
      top: 30px;
      li > a.iconlabel {
        margin: 0px;
      }
    }
    .nav-dropdown-toggle {
      height: 32px;
      font-size: 1.1em;
      border: none;
      background-color: transparent;
      //color: @finna-browsebar-link-color;
      padding: 0;
      padding-left: 1em;
      line-height: normal;
      &:before {
        font-family: 'icomoon';
        content: "\e00d";
        margin-right: 5px;
        font-size: 1.01em;
        vertical-align: bottom;
      }
      &:after {
        font-family: icomoon;
        content: "\e613";
        vertical-align: middle;
        margin-left: 5px;
      }
      &:hover {
        //background-color: darken(@finna-browsebar-background, 5%);
      }
      .nav-dropdown-label {
        min-width: 200px;
        line-height: 64px;
        .caret {
          margin-left: 5px;
        }
      }
    }
    nav.navbar {
      width: 100%;
      float: left;
      .nav-wrapper {
        margin-left: 75px;
      }
    }
}
