.search {
  // background: https://keski.finna-test.fi//beta/themes/custom/images/logo_background.jpg?1578907836

}

@media (max-width: @screen-md-min) {

  .search {
  }

  .searchbox {
  }
}

.searchbox-toolbar a {
  font-size: 1.05em!important;
  font-weight: 400!important;
}

.searchContent {
  background: rgb(90,246,188);
  //background: linear-gradient(2deg, rgb(183, 233, 224) 0%, rgba(229,223,223,1) 80%)!important;
  //background: url('https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105_960_720.png')!important;
  //background: url('https://i.imgur.com/DjPMk2O.png')!important;
  background: url('https://i.imgur.com/MYig17p.jpg')no-repeat fixed left top!important;
  padding: 0!important;
  margin: 0!important;
  height: auto!important;
}

section[role=search] {
  margin-bottom: 0!important;
}

@media screen and( min-width: 1000px ) {
  .search-form-container .container {

  }

  .search-form-container {

  }
}

.autocomplete-results.hidden {
  visibility: visible;
  display: block;
}

.autocomplete-results {
  visibility: visible!important;
  display: block!important;
}


.hidden-search-autocomplete {
  visibility: hidden!important;
  display: none!important;
}

section[role=search] .search {
  margin-left: auto;
  margin-right: auto;
  left: 12%;
  transform: translateX(-12%);
  position: relative;
  padding-top: 1.8em;
  padding-left: 3em;
  padding-right: 3em;
  background: rgb(90,246,188);
  background: linear-gradient(2deg, rgb(183, 233, 224) 0%, rgba(229,223,223,1) 90%)!important;  top: -35px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}


#searchForm {
  margin-top: -13px!important;
}

.search-query {
  padding-left: 1em!important;
}


section[role=search], .search-form-container  {
  padding-top: .5em!important;
  padding-bottom: 0!important;
  height: auto!important;

}

.search-form-container .container {
  padding: .5em!important;
  height: auto!important;
}

// Browsebar

.browsebar {
  //display: none;
}

.browse-is-open {
  display: inline!important;
  visibility: visible!important;
}

#searchForm {
  margin-bottom: 1em;
}

.searchbox-toolbar {
  padding-top: .6em;
  padding-bottom: 0;
  border-radius: 22px;
  margin-bottom: -10px!important;
  padding-left: 10px;
}

.searchbox-columns .search {
  min-width: 100%;
  z-index: 900;
  padding-bottom: 2em;
}

.searchbox-toolbar ul {
}

.home-search-bg  {
  margin-top: 9vw;
  margin-bottom: 17vw;
  padding-top: 2.3em!important;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}


.search-tools-ul {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-flow: dense;
  width: 100%;
}

.search-tools-ul li {
  padding-left: 0;
  margin-left: 0;
  padding-top: 10px;
}

@media (min-width: 430px) {
  .search-tools-ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

.search-tools-ul .btn {
  padding: 0!important;
}

.search-tools-ul li {
  padding-bottom: 10px!important;
  text-align: center!important;
}

@media (min-width: 800px) {
  .search-tools-ul {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  .searchbox-columns .search {
  }
}

@media (min-width: 1100px) {
  .searchbox-columns .search {
    min-width: 80%;
  }
}

@media (min-width: 1400px) {
  .searchbox-columns .search {
    min-width: 67%;
  }
}

.searchbox-toolbar li {
  display: inline-flex;
  margin-left: 0!important;
  font-size: 1.05em;
  padding-left: 5px!important;
  padding-right: 5px!important;
  padding-bottom: .8em;
  margin-bottom: 0;
}

.searchbox-toolbar li a {
  padding-bottom: 8px!important;
  border-radius: 0!important;
}

.search-tools-li-1 {
  float: left;
}

.browse-a:before {
  font-family: 'icomoon';
  content: "\e00d";
  margin-right: 5px;
  vertical-align: bottom;
}

#browseLi ul {
}

#browseLi ul li {
  margin-bottom: 7px!important;
}

#browseLi ul li a {
  margin-bottom: 5px!important;
}

#browseLi ul li a:before {
  margin-right: 10px!important;
  font-size: 1em;
}

.searchbox-toolbar, #browseContainer, .browsebar-custom {
  margin-top: 0!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
  margin-bottom: 0!important;
  font-size: 1.01em!important;
}

.searchbox-toolbar i {
  margin-right: 3px;
}


.browsebar-custom div span, #browseContainer ul li a {
  color: @text-color;
  margin-bottom: 3px;
}

.browsebar-custom div span:hover, #browseContainer ul li a:hover {
  border-bottom: solid 3px @nav-hover-border-color;
  margin-bottom: 0;
}

#browseLi {
}

#browseLi li {
  margin-left: 10px!important;
  width: 100%!important;
}

#browseLi li .fa-child {
  margin-right: 15px!important;
}


#browseLi li a:hover {
  background: @nav-hover-bg!important;
  border-left: solid 4px @nav-hover-border-color!important;
  margin-left: -4px;
  border-bottom: none!important;
}

@media only screen and (min-width: 431px) {

  .browse-list-container {
    top: 50px;
  }
}

@media only screen and (min-width: 431px)  and (max-width: 768px) {
  #browseLi {
    position: initial;
  }

  .browse-list-container {
    max-height: 1200px;
    margin-left: auto;
    right: 80px;
    top: 120px;
    min-width: 300px;

  }
  .browse-list-container li {

  }
  .browse-list-container li a {

  }
}

@media only screen and (max-width: 431px) {
  #browseLi {
    position: initial;
  }
  .browse-list-container {
    width: 100%!important;
    max-height: 1200px;
    margin-left: auto;
    top: 210px;
  }
}



.browse-list-container {
  z-index: 1000;
}

.browsebar-custom div span:hover, #browseContainer ul li a:hover {
}


.browsebar-custom {
  .priority-nav__dropdown {
    left: 0;
    top: 30px;
    li > a.iconlabel {
      margin: 0px;
    }
  }
  .nav-dropdown-toggle {
    height: 32px;
    font-size: 1.1em;
    border: none;
    background-color: transparent;
    //color: @finna-browsebar-link-color;
    padding: 0;
    padding-left: 1em;
    line-height: normal;
    &:before {
      font-family: 'icomoon';
      content: "\e00d";
      margin-right: 5px;
      font-size: 1.01em;
      vertical-align: bottom;
    }
    &:after {
      font-family: icomoon;
      content: "\e613";
      vertical-align: middle;
      margin-left: 5px;
    }
    &:hover {
      //background-color: darken(@finna-browsebar-background, 5%);
    }
    .nav-dropdown-label {
      min-width: 200px;
      line-height: 64px;
      .caret {
        margin-left: 5px;
      }
    }
  }
  nav.navbar {
    width: 100%;
    float: left;
    .nav-wrapper {
      margin-left: 75px;
    }
  }
}